.btn-rounded {
  border-radius: 10em;
}
.form-control {
  border-radius: 1rem;
  border: 1px solid #007bff;
  box-sizing: content-box;
}
.form-control:focus {
  color: #2e3031;
  font-weight: 400;
  background-color: #fff;
  border-color: #4339e2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(66, 64, 228, 0.62);
}
.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.autocomplete-wrap {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  list-style-type: none;
  overflow-y: auto;
  max-height: 210px;
  padding-left: 0;
  background: #f1f1f1;
  width: 100%;
  top: 65%;
}
.autocomplete-wrap li {
  padding: 8px 15px;
  cursor: pointer;
  font-size: 0.875rem;
  border-bottom: 0.1px solid #d6d0d0;
}
.autocomplete-wrap li:hover {
  background: #e0e0e0;
}
.flex-center ul li {
  margin-bottom: 0;
}
.d-none {
  display: none !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-block {
    display: block !important;
  }
  .form-inline {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}
// ////////////Bootstrap css////////////
