<div class="form-inline m-auto flex-center input-group">
  <ng-progress [thick]="true" [color]="'#ffd747'" [ease]="'easeInSine'"></ng-progress>
  <input #searchBox [formControl]="searchField" type="search" class="form-control" placeholder="Enter More than 3 Characters"
    (focus)="onFocus(searchBox.value)" required>
  <div class="input-group-append">
    <button (click)="btnClick(searchBox.value)" class="btn btn-md btn-rounded btn-mdb-color waves-effect m-0 waves-light" type="button"
      mdbWavesEffect>
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </div>
  <div *ngIf="displayList">
    <ul class="autocomplete-wrap mt-3" *ngIf="wordList">
      <li *ngFor="let word of wordList.results " (click)="onListClick($event)">
        <a [routerLink]="['/definition',  word.id]">
          {{word.word}}
        </a>
      </li>
    </ul>
  </div>

</div>