<div class="mt-6 container-fluid">
  <div class="mt-2 mb-3">
    <app-search-box></app-search-box>
  </div>
  <div class="jumbotron" *ngIf="fullData">
    <p> Definition of
      <span class="text-secondary font-weight-bold">{{ resultsObj.word }}</span> in English ({{ resultsObj.language }}) : </p>
    <h2 class="h1 h1-responsive red-text"> {{ resultsObj.word | uppercase }} </h2>
    <hr class="my-1">
    <div *ngFor="let lexicalEntry of residueRemoved">
      <h4 class="blue-text h4-responsive"> {{lexicalEntry.lexicalCategory}} ( {{lexicalEntry.text}} )</h4>
      <h6>Pronunciations : </h6>
      <span *ngFor="let pronunciations of lexicalEntry.pronunciations">

        <span> {{ pronunciations.phoneticSpelling }}
          <audio #audio [src]="pronunciations.audioFile"></audio>
          <a (click)=play(audio)>
            <i class="fa fa-volume-up" aria-hidden="true"></i>
          </a>
        </span>
      </span>
      <br>
      <button class="btn btn-outline-secondary btn-rounded btn-sm waves-light" type="button" (click)="test.toggle()" mdbWavesEffect>Show More </button>

      <div class="" [mdbCollapse]="isCollapsed" #test="bs-collapse">
        <p> {{lexicalEntry | json}} </p>
      </div>
      <hr class="dropdown-divider m-2">
    </div>


  </div>

</div>