.view {
  height: 80vh;
}
.card-body {
  padding: 0;
}
.btn-rounded {
  border-radius: 10em;
}
.form-control {
  border-radius: 1rem;
  border: 1px solid #007bff;
}
.form-control:focus {
  color: #2e3031;
  font-weight: 400;
  background-color: #fff;
  border-color: #4339e2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(66, 64, 228, 0.62);
}
.heading {
  color: #6a3cc5;
}
// auto complete css
/* HeroSearch private styles */
.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 195px;
  height: 16px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

.search-result li:hover {
  background-color: #607d8b;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}
.search-result li a:active {
  color: white;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}
