.view {
  height: 80vh;
}
.card-body {
  padding: 0;
}
.btn-rounded {
  border-radius: 10em;
}
.form-control {
  border-radius: 1rem;
  border: 1px solid #007bff;
  box-sizing: content-box;
}
.form-control:focus {
  color: #2e3031;
  font-weight: 400;
  background-color: #fff;
  border-color: #4339e2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(66, 64, 228, 0.62);
}
.heading {
  color: #6a3cc5;
}
.view .mask {
  position: inherit;
}
// auto complete css

.autocomplete-wrap {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  list-style-type: none;
  overflow-y: auto;
  max-height: 210px;
  padding-left: 0;
  background: rgb(233, 230, 230);
  width: 100%;
  top: 65%;
}
.autocomplete-wrap li {
  padding: 12px 15px;
  cursor: pointer;
  font-size: 0.875rem;
}
.autocomplete-wrap li:hover {
  background: #eee;
}

.d-none {
  display: none !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}
