<div class="container-fluid view">
  <ng-progress></ng-progress>
  <div class="mask  flex-center">
    <div class="container text-center">
      <h1 class="heading display-4">On the go? Never miss a single word!</h1>
      <br>
      <div class="form-inline m-auto mb-4 w-100 flex-center">
        <input [formControl]="searchField" class="form-control" type="text" placeholder="Enter a Word">
        <button class="btn btn-outline-primary btn-rounded btn-sm my-3 waves-light" mdbWavesEffect type="submit">Search</button>
        <ul class="search-result" *ngIf="wordList">
          <li *ngFor="let word of wordList.results">
            <a routerLink="/definition/{{word.id}}">
              {{word.word}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>